@import url(/../css/main.css);
@import url(/../css/mit.css);

/* ==== Updates ==== */

#updates {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto max-content auto auto;
    grid-template-areas: 
         "h h h h h h h h h h h h"
         "m m m m m m m m m m m m"
         "b b b b b b b b b b b b"
         "f f f f f f f f f f f f";
    gap: 16px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
  }
 
  /* --- media 1200, 960, 800, 540, 360 ---*/
 
  @media screen and (max-width: 1200px) {
   #updates {
     padding-left: 24px;
     padding-right: 24px;
     }
   }
 
   @media screen and (max-width: 540px) {
     #updates {
       padding-left: 16px;
       padding-right: 16px;
      }
   }


   /*--main-update--*/
  
   .main-updates {
    display: grid;
    grid-area: m;
    background: 
        url('/../img/bg/coreicon_item-bg@2x.png');
    background-size: cover;
}

.m-title-left-flex {
    max-width: 960px;   
}

.mt-32 {
    margin-top: 32px;
}

 .body-text_cta-sc {
    display: inline;
    font-size: 12px;
    background-color: #121B2B;
    color: white;
    max-width: 80px;
    height: 22px;
}

.body-text-sc {
    display: inline;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    color: #566176;
    padding: 3px 6px;
    max-width: 80px;
    background-color: #ECEEF3;
}   


.body-updates {
    grid-area: b;
    display: grid;
    gap: 24px;
    background-color: white;
    box-shadow: 
        1px 1px 2px rgb(18 27 43 / 6%), 
        -1px 1px 2px rgb(18 27 43 / 6%), 
        0px 1px 1px rgb(18 27 43 / 3%),
        0px -1px 1px rgb(18 27 43 / 6%);
}

.p48 {
    padding: 48px;
}

@media screen and (max-width: 680px) {
    .p48 {
        padding: 24px;
      }
    }

.bu-content {
    display: grid;
    grid-template-columns: 7fr 1fr;
    place-content: space-between;
    place-items: flex-start;
    gap: 24px;
}

@media screen and (max-width: 680px) {
    .bu-content {
        grid-template-columns: 1fr;
        flex-direction: column;
      }
    }

hr {
    display: flex;
    border: solid 0.5px #ECEEF3;
}

.b-slot-2 {
    display: flex;
    width: 256px;
    height: 128px;
    background-color: #ECEEF3;
}

@media screen and (max-width: 400px) {
    .b-slot-2 {
     width: 208px;
     height: 104px;
    }
   }

.blog-cover {
    border-radius: inherit;
    background-size: contain;
}

@media screen and (max-width: 400px) {
    .blog-cover {
    width: 208px;
    height: 104px;
    }
  }

   /* ==== cta-banner ==== */

  .cta {
    grid-area: b;
  }

  .mt-128 {
    margin-top: 128px;
  }

  @media screen and (max-width: 400px) {
    .mt-128 {
      margin-top: 64px;
    }
   }
